
#nextButton {
    height:35px;
    float: right;
    margin-left: 20px;
}

#scenarioFieldbox {
    opacity: 0.8;
    background-color: #131613;
    width: fit-content;
    display: flex;
    align-items: center;
}

#fieldsetDiv {
    position: absolute;
    z-index: 2;
    top: 85%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scenarioPicture, #loadingGif {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.individualButtonDiv{
    width: fit-content;
}

#choiceButtonDiv {
    opacity: .85;
    width: 100%;
    height: fit-content;
    margin:auto;
    position: absolute;
    top:25%;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainPictureDiv {
    width: 100%;    
    height: 85%;
    top:10%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.choiceButtons {
    margin-top: 10px;
    display: block;
}

.scenarioText {
    line-height: 100%;
    vertical-align: middle;
}

